/* Shortcode UI edit screen hacks */

/* detected in DEVFRONT-1407 - fix empty div height on 'insert post element' */
.shortcode-ui-content .media-toolbar {
	height:50px !important;
}

/* Link List & Slider */

.shortcode-ui-edit-arte-link-list {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.shortcode-ui-edit-arte-link-list div[class$="-1"],
.shortcode-ui-edit-arte-link-list div[class$="-3"],
.shortcode-ui-edit-arte-link-list div[class$="-5"],
.shortcode-ui-edit-arte-link-list div[class$="-7"],
.shortcode-ui-edit-arte-link-list div[class$="-9"] {
	background:#f5f5f5;
	padding-left:5px;
}

.shortcode-ui-edit-arte-link-list > div {
	width:23%;
	padding:0 1%;
}

.shortcode-ui-edit-arte-link-list > div:nth-child(7) {
	width:25%;
}

/* Landscape Slider Edit Screen */

.shortcode-ui-edit-arte-landscape-slider .arte_landscapeslider_edit_block {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 10px 10px 10px 50px;
	position:relative;
}

.shortcode-ui-edit-arte-landscape-slider .disabled-dashicon .dashicons {
	opacity:0.2;
	pointer-events: none;
}

.shortcode-ui-edit-arte-landscape-slider .dashicons-arrow-up-alt2,
.shortcode-ui-edit-arte-landscape-slider .dashicons-arrow-down-alt2 {
	cursor: pointer;
	opacity:0.8;
}

.shortcode-ui-edit-arte-landscape-slider .dashicons-arrow-up-alt2:hover,
.shortcode-ui-edit-arte-landscape-slider .dashicons-arrow-down-alt2:hover {
	opacity:1;
}

.shortcode-ui-edit-arte-landscape-slider .thumbnail-details-container .date-formatted,
.shortcode-ui-edit-arte-landscape-slider .thumbnail-details-container .dimensions,
.shortcode-ui-edit-arte-landscape-slider .thumbnail-details-container .edit-link {
	display:none;
}

.shortcode-ui-edit-arte-landscape-slider .arte_landscapeslider_edit_block:nth-of-type(odd) {
	background: #f5f5f5;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.shortcode-ui-edit-arte-landscape-slider .arte_landscapeslider_edit_block .arte_order {
	width: 20px;
	position: absolute;
	left: -10px;
	top: 20px;
}
.edit-shortcode-form .arte_landscapeslider_edit_block .field-block { padding: 0 0 7px; }
.edit-shortcode-form .arte_landscapeslider_edit_block .field-block label { margin-bottom: 3px; }

.arte_landscapeslider_edit_block .block_fields {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.arte_landscapeslider_edit_block .block_fields > div:nth-child(1) { order: 1; width: 33%; } /* image */
.arte_landscapeslider_edit_block .block_fields > div:nth-child(2) { order: 6; width: 48%; } /* title */
.arte_landscapeslider_edit_block .block_fields > div:nth-child(3) { order: 7; width: 48%; } /* subtitle */
.arte_landscapeslider_edit_block .block_fields > div:nth-child(4) { order: 4; width: 73%; } /* url */
.arte_landscapeslider_edit_block .block_fields > div:nth-child(5) { order: 2; width: 38%; } /* aria */
.arte_landscapeslider_edit_block .block_fields > div:nth-child(6) { order: 3; width: 20%; } /* sticker */
.arte_landscapeslider_edit_block .block_fields > div:nth-child(7) { order: 5; width: 20%; } /* target */


.arte_landscapeslider_edit_block .block_fields select,
.arte_landscapeslider_edit_block .block_fields input { width: 100%; }

.arte_landscapeslider_edit_block .block_fields > div {
	width:31%;
	padding:0 1%;
	order: 2;
}

.shortcode-ui-edit-arte-landscape-slider .arte_landscapeslider_edit_block div.shortcake-attachment-preview {
	width: 100%;
	margin: 0 20px 3px 0;
}
