meta.foundation-mq {
  font-family: "map-serialize((small: 0, medium: 40rem, large: 75rem, xlarge: 90rem, xxlarge: 120rem))"; }

@font-face {
  font-family: 'barna';
  src: url("//static-cdn.arte.tv/static/fonts/barna-web/woff2/Barna-Light.woff2") format("woff2"), url("//static-cdn.arte.tv/static/fonts/barna-web/woff/Barna-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'barna';
  src: url("//static-cdn.arte.tv/static/fonts/barna-web/woff2/Barna-Regular.woff2") format("woff2"), url("//static-cdn.arte.tv/static/fonts/barna-web/woff/Barna-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'barna';
  src: url("//static-cdn.arte.tv/static/fonts/barna-web/woff2/Barna-SemiBold.woff2") format("woff2"), url("//static-cdn.arte.tv/static/fonts/barna-web/woff/Barna-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'barna';
  src: url("//static-cdn.arte.tv/static/fonts/barna-web/woff2/Barna-Bold.woff2") format("woff2"), url("//static-cdn.arte.tv/static/fonts/barna-web/woff/Barna-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

/**
 * Page Banners
 * @see https://styleguide.arte.tv/fr/normal/Banners/BigBanner
 */
.big-banner__hidden-meta {
  display: none; }

.big-banner__wrapper {
  height: 300px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  padding-left: 5%;
  position: relative; }
  @media print, screen and (min-width: 75em) {
    .big-banner__wrapper {
      height: 400px; } }

.big-banner__teaser {
  max-width: 80%;
  padding-left: 5px;
  color: #FFFFFF; }
  @media print, screen and (min-width: 48em) {
    .big-banner__teaser {
      max-width: 60%; } }
  @media print, screen and (min-width: 75em) {
    .big-banner__teaser {
      max-width: 30%; } }
  .big-banner__teaser h1 {
    font-weight: bold;
    font-size: 2.235rem;
    line-height: 1.4;
    margin: 0; }
    @media print, screen and (min-width: 48em) {
      .big-banner__teaser h1 {
        font-size: 3.2rem;
        line-height: 1;
        margin: 0; } }

.big-banner__title {
  font-family: "barna-stencil", Arial, sans-serif; }

.big-banner__subtitle {
  font-family: "barna-stencil", Arial, sans-serif; }
  .big-banner__subtitle h4,
  .big-banner__subtitle p {
    font-size: 1.25rem;
    line-height: 1em; }

.big-banner__cta {
  position: absolute;
  padding: 0;
  bottom: 20px; }

.big-banner__logo .arte-next-arte {
  fill: #FD4600; }

html {
  font-size: 16px; }

body {
  font-size: 16px;
  background-color: #f4f4f3 !important; }

#main {
  padding-bottom: 0; }

/*Overrides pattern lab */
[role=main],
.header {
  max-width: none;
  padding: 0;
  overflow: visible; }

[role=main] {
  padding-bottom: 50px; }

.entry-content blockquote {
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border-left: none;
  font-style: italic;
  display: block;
  width: 100%; }

.entry-content blockquote p {
  display: block;
  width: 100%;
  color: inherit; }

section .row {
  position: relative;
  max-width: 1400px;
  margin: 0 28px; }

.footer {
  margin-top: 0; }

#container {
  position: relative; }

.hentry .hatom-date {
  display: none; }

.hentry .hatom-author {
  display: none; }

h1.archive-title {
  font-size: 1.6rem; }

/** Fixes DEVFRONT-1509 */
hr {
  border-right-style: solid;
  border-right-width: 1px;
  flex-grow: 1; }

a.more-link {
  display: inline-block;
  vertical-align: middle;
  padding: 9px 40px;
  background: #fa481c;
  color: #fff !important;
  font-weight: 500;
  font-size: 1rem;
  transition: all .2s ease-in-out; }
  a.more-link:hover {
    background: #d42e05; }

.underline:after {
  display: block;
  width: 40px;
  content: " ";
  margin-top: 10px;
  height: 1px;
  border-top: 1px solid #fa481c;
  overflow: hidden; }

.button {
  text-align: center;
  width: 270px;
  margin: 40px auto;
  padding: 10px 17px;
  border: 1px solid black;
  font-weight: 600;
  font-size: 1.25rem; }

/** home banner **/
.teaser-cta {
  color: white;
  padding: 0;
  transition: border-bottom-color .3s linear;
  border-bottom-color: transparent;
  font-size: 1.25rem; }
  @media print, screen and (min-width: 48em) {
    .teaser-cta {
      font-size: 1.5rem; } }
  .teaser-cta--icon-left .teaser-cta__title {
    margin-left: .5rem; }
  .teaser-cta--icon-right .teaser-cta__title {
    margin-right: .5rem; }
  .teaser-cta .next-enterprise-icon {
    display: inline-block;
    line-height: 1; }
    .teaser-cta .next-enterprise-icon--aligned svg {
      margin-bottom: -4.2px; }
      @media print, screen and (min-width: 68em) {
        .teaser-cta .next-enterprise-icon--aligned svg {
          width: 26.25px;
          height: 26.25px;
          margin-bottom: -7px; } }
      @media print, screen and (min-width: 75em) {
        .teaser-cta .next-enterprise-icon--aligned svg {
          width: 35px;
          height: 35px; } }
  @media print, screen and (min-width: 68em) {
    .teaser-cta {
      font-size: 2.2em; } }
  .teaser-cta__link:hover > .teaser-cta {
    border-bottom-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: .0625rem; }
  .teaser-cta > a {
    color: white; }

.afp-layout h1, .afp-layout h2, .afp-layout h3, .afp-layout h4, .afp-layout h5, .afp-layout h6 {
  display: block;
  width: 100%;
  font-family: "barna", Arial, sans-serif; }

.afp-layout__featured-image {
  position: relative; }
  .afp-layout__featured-image figcaption {
    position: absolute;
    color: white;
    bottom: 0px;
    right: 0px;
    background-image: linear-gradient(145deg, transparent 50%, rgba(10, 10, 10, 0.8) 100%);
    padding: 61.25px 17.5px 13.125px 61.25px;
    font-size: 1rem; }

.afp-layout article {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 25px; }
  .afp-layout article hr {
    display: block;
    width: 100%; }
  .afp-layout article .columns {
    display: flex;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; }
    .afp-layout article .columns .article-meta {
      margin-top: 15px; }
    .afp-layout article .columns > h1, .afp-layout article .columns > h2, .afp-layout article .columns > h3, .afp-layout article .columns > h4 {
      margin: 7px 0 0.5em 0;
      padding: 0; }
    .afp-layout article .columns ul:not(.link-list__items) {
      list-style: none;
      margin: 0 14px 14px 14px;
      padding: 0 0 0 28px; }
      .afp-layout article .columns ul:not(.link-list__items) li {
        list-style: none;
        left: 0;
        position: relative;
        padding: 3px 0; }
      .afp-layout article .columns ul:not(.link-list__items) li::before {
        content: "\2022";
        color: #003399;
        font-weight: bold;
        display: inline-block;
        font-size: 33px;
        position: absolute;
        left: -25px;
        top: -8px; }
    .afp-layout article .columns p {
      width: 100%; }
    .afp-layout article .columns img {
      max-width: 100%;
      height: auto;
      align-self: center; }
    .afp-layout article .columns img.alignleft,
    .afp-layout article .columns img.alignright,
    .afp-layout article .columns img.aligncenter {
      margin: 0; }
    .afp-layout article .columns img.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
      clear: both; }
    .afp-layout article .columns .wp-caption-text {
      background: none;
      margin: 0;
      text-align: center;
      font-size: 1rem;
      line-height: 1.5;
      border: none; }
    .afp-layout article .columns .landscape-slider {
      margin: 20px -55px 20px -55px;
      width: auto; }
    .afp-layout article .columns a {
      text-decoration: none;
      border-bottom: 1px solid #0a0a0a; }
      .afp-layout article .columns a:hover {
        border-bottom: none; }
    .afp-layout article .columns a.arte-link-external {
      text-decoration: none;
      border-bottom: 1px solid #282828; }
      .afp-layout article .columns a.arte-link-external:hover {
        border-bottom: none; }
    .afp-layout article .columns .teaser__info a {
      text-decoration: none; }

.afp-layout footer .program-credits {
  width: 100%; }
  .afp-layout footer .program-credits .row {
    width: 50%;
    float: left; }
    @media print, screen and (max-width: 48em) {
      .afp-layout footer .program-credits .row {
        width: 100%; } }

.admin-bar header[role='banner'] {
  margin-top: 32px; }

.faq {
  margin: 0 5vw; }
  .faq .entry-title {
    margin: 30px 0px;
    text-transform: uppercase; }

.breadcrumb {
  position: absolute;
  top: 17.5px;
  left: 0;
  width: 100%;
  padding-left: 5.5%;
  outline: none; }
  .breadcrumb:focus .breadcrumb__title {
    border-bottom-color: white;
    transition: border 300ms linear 0s; }
  @media print, screen and (max-width: 75em) {
    .breadcrumb {
      background: #262626;
      top: 0;
      left: 0;
      padding-left: 20px;
      margin-left: 0; } }
  .breadcrumb__title {
    line-height: 33px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border-bottom: 1.5px solid transparent; }
    @media print, screen and (max-width: 75em) {
      .breadcrumb__title {
        font-size: 0.875rem; } }
    .breadcrumb__title:hover {
      border-bottom-color: white;
      transition: border 300ms linear 0s; }
  .breadcrumb svg {
    color: white;
    fill: white;
    width: 13.545px;
    height: 13.545px; }

.faq-list {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  list-style: none;
  width: 100%; }
  .faq-list a:focus {
    outline: none; }
  .faq-list__item {
    background-color: white;
    padding: 15px 30px;
    margin: 40px 0 0;
    position: relative;
    width: 100%;
    -webkit-appearance: none !important; }
    .faq-list__item--active .faq-list__answer {
      display: block; }
    .faq-list__item--active i {
      transform: rotate(90deg); }
    .faq-list__item i {
      font-style: normal;
      line-height: 5px;
      font-weight: bold;
      left: 10px;
      top: 31px;
      position: absolute; }
      @media screen and (max-width: 460px) {
        .faq-list__item i {
          top: 30px; } }
      .faq-list__item i:before {
        content: "\003e"; }
    .faq-list__item:hover, .faq-list__item.focus {
      outline: 2px solid black; }
  .faq-list__button {
    width: 100%; }
    .faq-list__button:focus {
      outline: none; }
  .faq-list__question {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    line-height: 1.5em;
    font-family: "barna", Arial, sans-serif; }
    @media screen and (max-width: 460px) {
      .faq-list__question {
        font-size: 1rem; } }
  .faq-list__answer {
    font-weight: normal;
    display: none; }
    @media screen and (max-width: 460px) {
      .faq-list__answer {
        font-size: 1rem; } }
    .faq-list__answer a:link {
      text-decoration: underline; }
    .faq-list__answer a:focus, .faq-list__answer a:hover {
      color: black;
      text-decoration: none; }

.faq-results__title {
  margin-top: 2em; }

.search-box {
  width: 100%;
  height: 60px;
  background: white;
  margin: 40px 0;
  position: relative; }
  .search-box__container {
    width: 100%;
    float: left;
    height: 100%;
    position: relative; }
  .search-box__form {
    height: 100%; }
  .search-box__input {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    font-size: 1.5rem;
    color: black;
    padding: 5px 30px;
    width: 100%; }
    @media print, screen and (max-width: 48em) {
      .search-box__input {
        padding-left: 20px;
        font-size: 1rem; } }
  .search-box__submit {
    cursor: pointer;
    position: absolute;
    content: '';
    display: block;
    width: 35px;
    height: 36px;
    background-size: 100%;
    right: 25px;
    top: 25px;
    transform: scale(1.5);
    transition: transform ease .3s;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iX3gyM19fZ3JpZCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxOXB4IiBoZWlnaHQ9IjE5cHgiIHZpZXdCb3g9IjAgMCAxOSAxOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTkgMTkiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnIGlkPSJOb3V2ZWF1X3N5bWJvbGVfMiI+PC9nPjxwYXRoIGZpbGw9IiNCM0IzQjMiIGQ9Ik0xOSwxN2wtNS4zLTUuM2MwLjgtMS4yLDEuMy0yLjcsMS4zLTQuMkMxNSwzLjQsMTEuNiwwLDcuNSwwUzAsMy40LDAsNy41UzMuNCwxNSw3LjUsMTVjMS42LDAsMy0wLjUsNC4yLTEuM0wxNywxOUwxOSwxN3ogTTEuNSw3LjVjMC0zLjMsMi43LTYsNi02czYsMi43LDYsNmMwLDMuMy0yLjcsNi02LDZDNC4yLDEzLjUsMS41LDEwLjgsMS41LDcuNXoiLz48L3N2Zz4=") no-repeat; }
    .search-box__submit:focus, .search-box__submit:hover {
      transform: scale(1.6); }

.faq-term {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  font-weight: bold;
  width: 100%; }
  .faq-term__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 25px; }
    .faq-term__wrap:focus {
      color: black;
      outline: 4px solid black; }
  .faq-term__button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px 20px;
    cursor: pointer; }
    .faq-term__button:focus {
      outline: none; }
  .faq-term__item {
    background-color: white;
    margin: 0 2% 40px 0;
    min-height: 200px;
    width: 15%;
    -webkit-appearance: none !important; }
    .faq-term__item:focus {
      outline: 4px solid black; }
    .faq-term__item:nth-child(6n) {
      margin-right: 0; }
    @media screen and (max-width: 1800px) {
      .faq-term__item {
        width: 23%;
        margin-right: 2.6%; }
        .faq-term__item:nth-child(6n) {
          margin-right: 2.6%; }
        .faq-term__item:nth-child(4n) {
          margin-right: 0; } }
    @media screen and (max-width: 1200px) {
      .faq-term__item {
        width: 32%;
        margin-right: 2%; }
        .faq-term__item:nth-child(4n) {
          margin-right: 2%; }
        .faq-term__item:nth-child(3n) {
          margin-right: 0; } }
    @media screen and (max-width: 768px) {
      .faq-term__item {
        width: 100%;
        margin: 15px 0; } }
    .faq-term__item--active {
      cursor: pointer;
      background-color: black; }
      .faq-term__item--active span {
        color: white; }
        .faq-term__item--active span:before {
          background-color: white; }
    .faq-term__item--active:focus {
      outline: 4px solid white; }
    .faq-term__item:hover:not(.faq-term__item--active), .faq-term__item.focus {
      outline: 4px solid black;
      cursor: pointer; }
      .faq-term__item:hover:not(.faq-term__item--active) a, .faq-term__item.focus a {
        color: black; }
  .faq-term__title {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-family: "barna", Arial, sans-serif;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    height: 125px;
    width: 100%; }
  .faq-term__count {
    font-size: 1.25rem;
    text-align: center;
    position: relative;
    margin-bottom: 0;
    width: 100%;
    font-weight: 400; }
    .faq-term__count:before {
      content: '';
      display: block;
      height: 1px;
      background-color: black;
      width: 85px;
      position: absolute;
      left: 0;
      right: 0;
      margin: -9px auto; }

.faq-term__wrap.faq-term__item {
  padding: 0; }

/**
 Home banner
*/
#artevid .arte-button--close {
  right: -12px; }

section.entry-content div {
  text-align: left; }

.section__divider {
  border-bottom: 1px solid #CCCCCC;
  margin: 0 14px;
  height: 30px;
  clear: both; }

.inner-content {
  max-width: 1400px;
  position: relative;
  margin: auto; }

.child-content,
.sub-block {
  display: flex;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }

.child-content {
  margin-top: 0; }

.layout-row {
  flex-direction: column; }

section .section-title {
  margin: 15px 0 0.1em;
  line-height: 1em;
  font-size: 2rem;
  position: relative;
  padding: 0 7px; }
  section .section-title span:first-child {
    display: inline-block;
    padding-right: 20px;
    background: transparent !important; }
  section .section-title span.section-title-border {
    background: #d6d6d8;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-5px);
    height: 1px;
    width: 100%; }

article .page_subtitle,
body.cluster-page article section.cluster-part p.page_subtitle {
  font-family: "barna", Arial, sans-serif;
  letter-spacing: 0px;
  font-size: 1.25rem;
  line-height: 1em;
  margin-bottom: 10px;
  padding: 0 7px; }

body.cluster-page section.cluster-part p {
  margin: 0px;
  font-size: 1.125rem;
  line-height: 1.4; }

body.cluster-page section.cluster-part h4 a {
  text-decoration: underline; }

body.cluster-page section.cluster-part h4 a:hover {
  text-decoration: none;
  color: inherit; }

div#arte-footer ul,
div#arte-footer ul.breadcrump,
div#arte-footer .legal,
div#arte-footer .partners {
  max-width: 1160px;
  width: auto; }

#arte-header {
  z-index: 2006 !important; }

#arte-header .row {
  max-width: 100%; }

.arte-header__categories .nav {
  display: none;
  position: relative;
  z-index: 100;
  padding: 20px 0;
  overflow: visible; }
  .arte-header__categories .nav ul {
    max-width: 1400px;
    margin: auto;
    float: none;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .arte-header__categories .nav ul li {
      position: relative;
      background-color: transparent;
      white-space: normal;
      float: left;
      display: block;
      padding: 10px;
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase; }
      .arte-header__categories .nav ul li:hover, .arte-header__categories .nav ul li.sfHover {
        background-color: transparent; }
      .arte-header__categories .nav ul li a:link,
      .arte-header__categories .nav ul li a:visited {
        border: 0;
        font-size: 14px;
        color: #FFF; }
      .arte-header__categories .nav ul li a:hover,
      .arte-header__categories .nav ul li a:active {
        color: #fa481c;
        background-color: transparent; }
      .arte-header__categories .nav ul li .dropdown {
        width: 200px;
        z-index: 200;
        display: none; }
        .arte-header__categories .nav ul li .dropdown li {
          float: none;
          margin: 0; }
          .arte-header__categories .nav ul li .dropdown li a:link,
          .arte-header__categories .nav ul li .dropdown li a:visited {
            text-transform: none;
            font-size: 12px;
            color: #343434; }
          .arte-header__categories .nav ul li .dropdown li a:hover,
          .arte-header__categories .nav ul li .dropdown li a:active {
            color: #fa481c; }
      .arte-header__categories .nav ul li.current-menu-parent > a:link,
      .arte-header__categories .nav ul li.current-menu-parent > a:visited, .arte-header__categories .nav ul li.current-menu-item > a:link,
      .arte-header__categories .nav ul li.current-menu-item > a:visited, .arte-header__categories .nav ul li.current-category-ancestor > a:link,
      .arte-header__categories .nav ul li.current-category-ancestor > a:visited, .arte-header__categories .nav ul li.current-page-ancestor > a:link,
      .arte-header__categories .nav ul li.current-page-ancestor > a:visited {
        color: #fa481c; }
  .arte-header__categories .nav .catFilters {
    height: 35px;
    border-bottom: 1px solid #FFF;
    display: none; }
    .arte-header__categories .nav .catFilters li {
      font-size: 12px;
      padding-left: 0px;
      padding-top: 0px;
      padding-bottom: 0px; }
      .arte-header__categories .nav .catFilters li a {
        font-size: 12px;
        padding-left: 10px; }
        .arte-header__categories .nav .catFilters li a::after {
          border-top-color: #FFF; }
      .arte-header__categories .nav .catFilters li.current-cat a {
        color: #fa481c; }
      .arte-header__categories .nav .catFilters li:hover a {
        color: #FFF;
        background: #fa481c; }
      .arte-header__categories .nav .catFilters li:hover li a {
        color: #333;
        background: transparent; }
      .arte-header__categories .nav .catFilters li ul {
        border-bottom: 1px solid #cacaca; }
        .arte-header__categories .nav .catFilters li ul li {
          text-transform: none;
          border-bottom: 1px solid #cacaca;
          padding-left: 10px; }
          .arte-header__categories .nav .catFilters li ul li a {
            padding-top: 10px;
            padding-bottom: 10px;
            display: block;
            font-size: 10px;
            font-weight: bold;
            padding-left: 0px;
            color: #333 !important; }
          .arte-header__categories .nav .catFilters li ul li:last-child {
            border-bottom: none; }
          .arte-header__categories .nav .catFilters li ul li:hover {
            background-color: #F4F4F4; }

.next-menu__form {
  z-index: 1000; }

.next-menu-submenu {
  z-index: 999; }

a.next-menu__link,
a.next-menu__link:hover {
  color: #151515; }

a.next-menu__link.next-menu__current_link {
  background: #151515;
  color: white; }

.next-menu__input {
  font-size: 17.5px !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0 17.5px !important; }

.next-menu__section {
  margin: 0 auto; }

@media print, screen and (min-width: 100em) {
  .preact-header header {
    max-width: 100% !important; } }

/** custom twitter feeds */
#ctf {
  height: calc(100% - 33px);
  overflow-y: scroll; }

#ctf .ctf-header-text .ctf-header-user {
  margin-left: 0 !important; }

#ctf .ctf-header {
  padding-bottom: 10px; }

#ctf .ctf-header-img {
  display: none !important; }

/*
* DEVFRONT-1597 Improve display of custom teaser with overlay text
*/
.teaser__overlay-title h2 {
  font-size: clamp(1rem, 3vw, 2.3rem); }

@media screen and (max-width: 780px) {
  .teaser__overlay-title h2 {
    font-size: 2.25rem;
    line-height: 1.5; } }

.next-teaser-full__picture {
  max-width: none; }

.next-teaser-full__caption {
  padding: 13.125px 0;
  background-color: #343434; }
  @media print, screen and (min-width: 48em) {
    .next-teaser-full__caption {
      background-color: transparent;
      padding: 0; } }

/*
styles to temporary fix entreprise pages ( 6/02/2018 )

*/
.entry-title {
  font-weight: bold;
  font-family: "barna", Arial, sans-serif; }

.type-post .article-header h1 {
  margin-bottom: 0; }

.type-post .article-header p.margin-bottom-l {
  margin-top: 0; }

.type-post .entry-content {
  margin-top: 1em; }

.type-post .article-footer {
  margin-bottom: 2em; }

@media screen and (max-width: 1024px) {
  .row .row {
    margin: 0; }
  .entry-content iframe {
    max-width: 100%; }
  .apps-menu .one-third {
    width: 100%; } }

body.page .entry-content {
  /* ROYAL SLIDER */ }
  body.page .entry-content p.edit-links {
    text-align: right;
    font-size: 0.875rem;
    clear: both;
    margin: 20px 50px; }
    body.page .entry-content p.edit-links a:link,
    body.page .entry-content p.edit-links a:visited {
      color: #343434; }
  body.page .entry-content div.intro {
    font-size: 1rem; }
  body.page .entry-content div.intro p,
  body.page .entry-content div.arteModule p,
  body.page .entry-content blockquote p {
    margin-left: 0;
    margin-right: 0; }
  body.page .entry-content div.arteModule p {
    margin-bottom: 0; }
  body.page .entry-content img.alignleft {
    margin-left: -150px; }
  body.page .entry-content table tr,
  body.page .entry-content table td {
    border-color: #dbdbdb; }
  body.page .entry-content table tr {
    transition: all .2s ease-in-out;
    background: #f4f4f4; }
    body.page .entry-content table tr:nth-child(odd) {
      background: #e6e6e6; }
    body.page .entry-content table tr:first-child {
      background: #fa481c;
      color: #fff;
      font-size: 1rem;
      text-transform: uppercase; }
      body.page .entry-content table tr:first-child strong {
        font-weight: normal; }
      body.page .entry-content table tr:first-child tr,
      body.page .entry-content table tr:first-child td {
        border-color: #fa481c; }
    body.page .entry-content table tr td {
      padding: 12px 15px; }
  body.page .entry-content .royalSlider {
    width: 640px;
    height: 360px;
    clear: both;
    margin: 20px auto; }
    body.page .entry-content .royalSlider .gallery-caption {
      position: absolute;
      background: white;
      bottom: 0;
      width: 100%;
      padding: 10px 20px;
      text-align: center; }
      body.page .entry-content .royalSlider .gallery-caption h4 {
        margin: 0;
        text-transform: uppercase;
        font-size: 1.3rem; }
      body.page .entry-content .royalSlider .gallery-caption p {
        margin: 0.2em 0;
        font-size: 0.875rem;
        font-weight: normal; }
      body.page .entry-content .royalSlider .gallery-caption span.copyright {
        display: block;
        font-weight: normal;
        width: 100%;
        color: #a6a6a6;
        font-size: 10px; }
  body.page .entry-content .rsMinW .rsBullet {
    width: 13px;
    height: 13px;
    display: inline-block;
    padding: 6px 5px 6px 4px; }
    body.page .entry-content .rsMinW .rsBullet span {
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: #CCC;
      background: rgba(204, 204, 204, 0.5); }
    body.page .entry-content .rsMinW .rsBullet.rsNavSelected span {
      background: #FFF; }
  body.page .entry-content .rsMinW .rsBullets {
    position: absolute;
    z-index: 35;
    height: auto;
    text-align: center;
    overflow: hidden;
    width: 100%;
    bottom: 5px;
    left: 0;
    right: auto; }
  body.page .entry-content .rsMinW .rsArrow {
    height: 80px;
    width: 43px;
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 21; }
  body.page .entry-content .rsMinW .rsArrowLeft,
  body.page .entry-content .rsMinW .rsArrowRight {
    top: 50%;
    margin-top: -40px; }
  body.page .entry-content .rsMinW .rsArrowLeft {
    left: 20px;
    background: url("../img/slider-arrow-left.png") no-repeat center center; }
  body.page .entry-content .rsMinW .rsArrowRight {
    right: 20px;
    background: url("../img/slider-arrow-right.png") no-repeat center center; }

/*Content*/
article ul,
.entry-content ul {
  margin-left: 150px;
  margin-right: 150px;
  overflow: hidden; }
  article ul li,
  .entry-content ul li {
    list-style-type: disc;
    position: relative;
    left: 1.2em;
    padding-right: 1.2em; }

section.entry-content,
header.article-header,
#content,
.top-bar-section {
  margin: auto;
  position: relative; }

.search-results .type-post .entry-content,
.search-results .entry-content {
  margin-top: 0.5em; }
  .search-results .type-post .entry-content div,
  .search-results .type-post .entry-content p,
  .search-results .entry-content div,
  .search-results .entry-content p {
    height: auto !important;
    width: auto !important;
    display: block; }
  .search-results .type-post .entry-content .intro,
  .search-results .entry-content .intro {
    font-size: 1rem !important; }
  .search-results .type-post .entry-content ul,
  .search-results .entry-content ul {
    margin: 0 30px; }

.search-results .page-navigation ul {
  margin: 0; }
  .search-results .page-navigation ul li {
    display: inline-block;
    padding: 0;
    left: 0; }
    .search-results .page-navigation ul li a {
      padding: 10px 15px;
      margin: 0 2px 0 0;
      border: 1px solid #ddd;
      line-height: 1;
      text-decoration: none;
      border-radius: 2px;
      font-weight: 600;
      display: block; }
  .search-results .page-navigation ul li.current a {
    border: 1px solid #999; }
  .search-results .page-navigation ul li a:hover,
  .search-results .page-navigation ul li a:focus {
    border: 1px solid #000;
    color: inherit; }

/*search form*/
.search .archive-title {
  text-transform: uppercase;
  line-height: 1em;
  font-size: 2rem;
  margin-top: 15px; }

.search-title {
  font-size: 1.6rem;
  margin-bottom: 5px;
  display: inline-block; }
  .search-title a:link,
  .search-title a:visited {
    color: inherit; }
  .search-title a:hover,
  .search-title a:focus {
    text-decoration: underline; }

.search-section {
  font-size: 1.4rem; }

.search {
  font-size: 0.875rem; }
  .search .search_count {
    margin: 0;
    font-weight: bold;
    font-size: 1.25rem; }
  .search article:first-of-type:not(#post-not-found) {
    margin-top: 10px; }
  .search article:not(#post-not-found) {
    background-color: #FFF;
    border: 1px solid #E7E7E7;
    padding: 10px;
    margin-bottom: 2%;
    position: relative;
    overflow: auto;
    font-size: 1rem; }
  .search .read-more {
    display: block;
    margin-top: 20px; }
  .search .wp-post-image {
    float: left;
    margin: 0 10px 10px 0; }
  .search .page_subtitle {
    padding: 0px;
    font-size: 0.875rem;
    margin-bottom: 5px;
    font-weight: bold; }

#search-block {
  position: absolute;
  right: 0;
  top: 13px;
  z-index: 2001; }
  #search-block p {
    margin: 0;
    text-align: right; }
  #search-block .search-icon {
    font-size: 0.875rem;
    cursor: pointer; }
  #search-block .search-form {
    display: none;
    margin: 10px 0 0 0; }
    #search-block .search-form .search-field {
      width: 100%;
      height: 50px;
      font-size: 1.5rem;
      line-height: 42px;
      border: 0 none;
      text-align: right; }
    #search-block .search-form .search-submit {
      display: none; }

.arte_vp {
  background-color: black !important; }

.arte_vp:not(.no_fluid) {
  box-sizing: border-box !important;
  padding-bottom: 56.25% !important; }

.mfp-inline-holder .mfp-content {
  background-color: transparent; }

/**
 Home banner
*/
@media print, screen and (min-width: 48em) {
  .next-big-banner__logo {
    max-width: 1540px;
    margin: 0 auto; } }

@media print, screen and (min-width: 48em) {
  .next-big-banner__wrapper .next-teaser-full__caption {
    max-width: 1470px;
    margin: 0 auto; } }

.next-big-banner__title {
  line-height: 1; }
  @media print, screen and (min-width: 75em) {
    .next-big-banner__title {
      font-size: 4.5em; } }

.home-main-slider {
  padding-bottom: initial;
  padding-top: 35%; }
  .home-main-slider__slide {
    opacity: 1;
    top: 0; }

/*NAV*/
body.home .nav,
body.cluster-page .nav,
body.archive .nav {
  z-index: 110; }
  body.home .nav ul,
  body.cluster-page .nav ul,
  body.archive .nav ul {
    border-bottom: 2px solid white; }
    body.home .nav ul li a:link, body.home .nav ul li a:visited,
    body.cluster-page .nav ul li a:link,
    body.cluster-page .nav ul li a:visited,
    body.archive .nav ul li a:link,
    body.archive .nav ul li a:visited {
      color: white; }
    body.home .nav ul li a:hover, body.home .nav ul li a:active,
    body.cluster-page .nav ul li a:hover,
    body.cluster-page .nav ul li a:active,
    body.archive .nav ul li a:hover,
    body.archive .nav ul li a:active {
      color: #fa481c; }

#js-searchBar {
  background: #FFF; }
  #js-searchBar .arte-searchBar__input {
    background: #fff;
    width: 100%;
    float: none; }
  #js-searchBar .arte-searchBar__submit {
    border: none; }
